---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Page d'acceuil de mon site Astro";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Par où commencer...</h2>
	<Greeting
		client:load
		messages={["Salut", "Hej", "Hallo", "Hola", "Habari"]}
	/>
</BaseLayout>
